* {
  margin: 0;
  padding: 0;
  outline: none;
}

/* In your global CSS file */
.ant-menu-item-selected {
  background-color: #1cbee6 !important;
  color: #fff !important;
}

.ant-menu-item:hover {
  background-color: #1cbee6 !important;
  color: #fff !important;
}
